bin
obj
*.user
.vs
/WebRtc.NET.sdf
/WebRtc.NET.VC.opendb
/WebRtc.NET.VC.db
/WebRtc.NET.VC.VC.opendb
/ipch

/WebRtcNative/Release
/WebRtcNative/Release_x64
/WebRtcNative/Debug
/WebRtcNative/Debug_x64
/WebRtcNative/lib
/WebRtcNative/lib_x64
/WebRtcNative/libd
/WebRtcNative/libd_x64
